services:
  minecraft1:
    image: itzg/minecraft-server:latest
    container_name: minecraft1
    pull_policy: daily
    tty: true
    stdin_open: true
    ports:
      - "25565:25565"
    environment:
      EULA: "TRUE"
    volumes:
      - /root/minecraft1/data:/data
    networks:
      dmz:
        ipv4_address: ${ip_address}

networks:
  dmz:
    external: true