services:
  uptime-kuma:
    image: louislam/uptime-kuma:${kuma_version}
    container_name: kuma
    volumes:
      - ${data_path}:/app/data
    ports:
      - ${web_port}:3001
    restart: unless-stopped
    networks:
      dmz:
        ipv4_address: ${ip_address}

networks:
  dmz:
    external: true
