services:
  proxy1:
    image: docker.io/jc21/nginx-proxy-manager:latest
    restart: unless-stopped
    container_name: proxy1
    volumes:
      - ${data_path}:/data
      - ${letsencrypt_path}:/etc/letsencrypt
    networks:
      vaultwarden:
      paperless-ngx:
      home-kuma:
      speedtest:
      netbox:
      usenet:
      home-assistant:
      n8n:
      SDB1:
        ipv4_address: ${ip_address}
      p2p1:
        ipv4_address: ${ip_address_p2p1}

networks:
  home-assistant:
    external: true
  usenet:
    external: true
  home-kuma:
    external: true
  SDB1:
    external: true
  netbox:
    external: true
  speedtest:
    external: true
  vaultwarden:
    external: true
  paperless-ngx:
    external: true
  n8n:
    external: true
  p2p1:
    external: true

